<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.kepler22b.semi-monitor</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/gavin/.nvm/versions/node/v22.22.0/bin/node</string>
        <string>/Users/gavin/workspace/Darren/semi-monitor/src/daemon.js</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>TURSO_URL</key>
        <string>libsql://semimonitor-gavindingcoolapk.aws-ap-northeast-1.turso.io</string>
        <key>TURSO_TOKEN</key>
        <string>eyJhbGciOiJFZERTQSIsInR5pXCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3Nzk0MzY2MDEsImlkIjoiMDE5ZTRlYWYtNDkwMS03YmE3LWEzOTItOGY3ZWNkODVjY2JkIiwicmlkIjoiOGVmZDY3NTUtY2E0Mi00NGVhLTlkNDctNGFiYjg1ZDQyMjgxIn0.SdCSl4WMs9_qJN3aWAQGBPUbcxcRtuQwu6bEDGMH_vlKfDlgV8R814fzmqse_MA8PGxBUOg-P4XzXNuTDTPdAQ</string>
        <key>X_AUTH_TOKEN</key>
        <string>b213583d8431de9b50dcfab5d0142efc7880a344</string>
        <key>X_PROXY</key>
        <string>http://127.0.0.1:7897</string>
    </dict>
    <key>WorkingDirectory</key>
    <string>/Users/gavin/workspace/Darren/semi-monitor</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/semi-monitor.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/semi-monitor.err</string>
</dict>
</plist>
